body {
  margin: 0;
  padding: 0;
}

/* h1과 p 태그 텍스트 가운데 정렬 */
h1,
p {
  text-align: center;
}

/* p 태그 텍스트 색상 변경 */
p {
  color: #aaa;
}

/* 컨테이너 클래스를 적절한 위치로 이동 */
.container {
  width: 500px;
  margin: 0 auto;
}

/* div 태그들 간의 간격을 띄우고, 내부의 요소들을 가운데 정렬 */
form div {
  margin: 30px 30px;
  display: flex;
  align-items: center;
}

/* label 태그와 input 태그 간 간격을 띄움 */
form label {
  width: 110px;
}

/* input 태그 상자 테두리에 대한 설정 */
[type="text"],
[type="password"] {
  width: 300px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* 회원가입 버튼 */
.login-btn {
  background-color: rgb(65, 105, 224);
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 450px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}